<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not implemented</title>
</head>
<body>
    <h2 th:text="'Not implemented'">Not implemented yet</h2>
</body>
</html>